body {
	background-image: url(../img/fish.png);
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: skyblue;
}

h1 {
	font-size: 22px;
	margin-left: 30px; 
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container {
	width: 500px;
	height: 100%;
}

form {
	width: 353px;
	height: 153px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto 20px;
	background-image: url(../img/cloud.png);
	box-sizing: border-box;
}
input[type="text"] {
	width: 200px;
	height: 35px;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}
#btn {
	color: #fff;
	background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.todo-list {
	width: 500px;
	height: 677px;
	background-image: url(../img/paper.png);
	margin-bottom: 50px;
}
/* 追加されるリストアイテムのCSS */
li {
	height: 30px;
	border: 1px solid rgb(187, 187, 187);
	border-bottom: none;
	padding: 3px 11px;
	display: flex;
	align-items: center;
	/* ボタンが追加された時、タスクの内容とボタンを左右に配置 */
	justify-content: space-between;
}
/* 最後のli要素のみ、border-bottomがある */
li:last-child {
	border-bottom: 1px solid rgb(187, 187, 187);
}
/* 追加されるリストアイテムのDeleteボタン */
.delete {
	font-size: 12px;
	color: rgb(202, 20, 20);
	cursor: pointer;
}