body {
	background-image: url(../img/fish.png);
}

h1 {
	font-size: 22px;
	margin-left: 30px; 
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1126px;
	height: 100%;
	margin: 0 auto;
	background-image: url(../img/freenote.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.container {
	width: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	width: 361px;
	height: 237px;
	display: flex;
	justify-content: center;
	margin: 26px 0 20px;
	padding-top: 102px;
	background-image: url(../img/cloud.png);
	box-sizing: border-box;
}

.form_input {
	width: 235px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="text"] {
	width: 190px;
	height: 36px;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}
#btn {
	margin: 0px;
	padding: 0px;
	color: #fff;
	background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  /*overflow: hidden;*/
  outline:none;
}


.todo-list {
	width: 500px;
	height: 677px;
	background-image: url(../img/paper.png);
	margin-bottom: 50px;
	padding: 30px 30px 30px 65px;
	box-sizing: border-box;
	border-radius: 15px;
	box-shadow: 10px 10px 10px -10px
}
/* 追加されるリストアイテムのCSS */
li {
	height: 25px;
	border-bottom: 1px solid #696969;
	padding: 3px 11px;
	display: flex;
	align-items: center;
	/* ボタンが追加された時、タスクの内容とボタンを左右に配置 */
	justify-content: space-between;
}
/* 最後のli要素のみ、border-bottomがある */

/* 追加されるリストアイテムのDeleteボタン */
.delete {
	font-size: 12px;
	color: black;
	cursor: pointer;
}

